body {
  margin: 0;
  padding: 0;
}

main {
  margin: 10px;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr;
}

h1 {
  display: flex;
  justify-content: center;
}
.flexHome {
  display: flex;
  justify-content: center;
}

.start {
  margin: 10px;
  height: 40px;
  width: 80px;
}
.home {
  margin: 10px;
  height: 40px;
  width: 80px;
}

.bar {
  margin: 10px;

  display: flex;
  justify-content: space-around;
}

.gridCard {
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cardsBtn {
  padding: 0;
  height: 70px;
  width: 60px;
}

.restart {
  display: flex;
  justify-content: center;
}

.restartBtn {
  height: 50px;
  width: 70px;
}
