body {
  margin: 0;
  padding: 0;
}
main {
  display: grid;
  grid-template-rows: 1fr 2fr;
}
h1 {
  display: flex;
  justify-content: center;
}
.gridLevel {
  display: flex;
  justify-content: space-around;
}

.levelBtn {
  height: 70px;
  width: 50px;
}
